body {
  padding-top: 50px;
}

.main {
  padding: 40px 15px;
  text-align: center;
}

.master-calendar {
  background-color: #528d4b;
  color: white;
}

.rmc-student-events {
  background-color: #958759;
  color: white;
}

